*.o
*.lo
*.Po
autom4te.cache
aclocal.m4
config.h
config.h.in
config.sub
config.guess
config.status
config.log
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
.dirstamp
optimaster
