Source: optimaster
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               liboptimization-dev,
               libglibmm-2.4-dev,
               libxml++2.6-dev,
               libgcrypt11-dev
Standards-Version: 3.8.0
Section: libs
Homepage: http://birg.epfl.ch

Package: optimaster
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: liboptimization master application
 Master application for liboptimization
